/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
nav{
    padding: 10px;
    width: 100%;
    height: 50px;
    /*border: 1px solid;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 5px 5px 4px rgb(188, 187, 187);*/
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
}

.bar {
    color: grey;
    font-size: 25px;
    margin-left: 28px;
    cursor: pointer;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo {
    margin-left: 20px;
    margin-right: 0px;
}
.search{
    margin-left: 200px;
}

#input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    border: 1px solid grey;
    height: 25px;
    width: 400px;
    outline: none;
}

.glass {
    display: flex;
    margin-left: 0;
    color: grey;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 27px;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.search-icon{
    margin-left: 0;
}

button {
    background-color: white;
    width: 500px;
    height: 30px;
    border-radius: 20px;
}

.mic {
    margin-right: 50px;
    font-size: 21px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 30px;
    height: 32px;
    margin-left: 150px;
}

.notify {
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}

.bell {
    color: black;
    size: 50px;
}
.profile{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: blueviolet;
    margin-left: 30px;
    color: white;
    cursor: pointer;
}
.profile span{
    margin-top: 20px;
    margin-left: 9px;
    font-size: 15px;
}
.dropdown{
    background: transparent;
    padding-left: 3.5px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.dropdown option{
    width: 300px;
}
.menu-bar{
    display:block;
    background-color: white;
    width: 100px;
    height: 400px;
    margin-top: -15px;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.fa-home{
    font-size: 20px;
    margin-left: 35px;
}
.home p{
    margin-top: 0;
    font-size: x-small;
    margin-left: 35px;
}
.shorts-icon{
    margin-top: 25px;
    margin-left: 35px;
}
.shorts p{
    font-size: x-small;
    margin-top: 0;
    margin-left: 35px;
}
.sub-icon{
    height: 35px;
    width: 35px;
    margin-top: 20px;
}
.subscription{
    margin-left: 35px;
}
.subscription p{
    font-size: x-small;
    margin-top: 0;
    margin-left: -14px;
}
.you{
    margin-left: 35px;
}
.you p{
    font-size: x-small;
    margin-top: 0;
    margin-left: 5px;
}
.you-icon{
    margin-top: 20px;
}
.vid-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    min-height: 100vh;
    width: 90%;
    padding: 30px 20px;
    margin-left: 120px;
    gap: 15px;
    /* background-color: red; */
}
.vid1{
    height: 300px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.vid-info1{
    height: 100px;
    margin-top: 2px;
    color: bisque;
    padding: 2px;
}
.vid-info1 div{
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 5px;
}
.publisher{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.vid-info1 h5{
    padding-left: 10px;
    color: black;
}
.vid-info1 p{
    font-size: 10px;
    margin-top: 3px;
    margin-left: 42px;
    line-height: 4px;
    color: #808080;
}
.vid-info1 span{
    margin-left: 5px;
}
.thumbnail{
    height: 200px;
    object-fit: cover;
}
.card {
    height: 100%; 
    width: 100%; 
    border-radius: 0; 
    object-fit: cover; 
}
.thumbnail img{
    height: 200px;
    width: 350px;
    border-radius: 10px;
}
.btns{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    margin-left: 134px;

}
.suggestion{
    border-radius: 8px;
    width: auto;
    height: 38px;
    padding: 5px 15px;
    text-align: center;
    background-color: lavender;
    outline: none;
    border: 0;
    
}
.overlay{
    height: 200vh;
    width: 100%;
    background-color: #00000089;
    position: absolute;
    z-index: 10;
    display: none;
    transition: left 1s ease-in-out;
}
.main-container{
    position: relative;
}
.full-bar{
    height: 100vh;
    width: 20%;
    background-color: white;
    position: fixed;
}
.upper_most{
    display: flex;
    align-items: center;
}
.show{
    display: block;
}
.menuBar{
    color: grey;
    font-size: 25px;
    margin-left: 38px;
    cursor: pointer;
}
.menu ul{
    list-style-type: none;
}
.H, .Sh{
    margin-left: -3px;
}
.History, .Yvid, .Wltr, .Lvid{
    margin-top: 15px;
}
.History i,.Yvid i,.Wltr i,.Lvid i{
    font-size: 23px;
}
.History a,.Yvid a,.Wltr a,.Lvid a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
}
.H a, .Sh a{
    text-decoration: none;
    color: black;
    /* margin-left: 20px; */
}
.H a{
    margin-left: 22px;
}
.Sh a{
    margin-left: 20px;
    text-align: center;
    margin-top: 0;
}